Group05/.vscode
Code/Practice/demo/demo/spiders/__pycache__/coupon_finder.cpython-38.pyc
Code/.vscode/settings.json
Code/Practice/demo_project/demo_project/__init__.py
Code/Practice/demo_project/scrapy.cfg
Code/Practice/demo_project/demo_project/spiders/__pycache__/jokes.cpython-38.pyc
Code/Practice/demo_project/demo_project/spiders/__init__.py
Code/Practice/demo_project/demo_project/middlewares.py
Code/Practice/demo_project/demo_project/pipelines.py
Code/Practice/demo_project/demo_project/__pycache__/__init__.cpython-38.pyc
Code/Practice/demo_project/demo_project/__pycache__/settings.cpython-38.pyc
Code/Practice/demo_project/demo_project/spiders/__pycache__/__init__.cpython-38.pyc
Code/Practice/demo_project/demo_project/settings.py
Code/Practice/demo_project/demo_project/__pycache__/items.cpython-38.pyc
Code/Backend/scraped_data/scraped_data/__init__.py
Code/Backend/scraped_data/scraped_data/middlewares.py
Code/Backend/scraped_data/scraped_data/pipelines.py
Code/Backend/scraped_data/scraped_data/spiders/__init__.py
Code/Backend/scraped_data/scrapy.cfg
Code/Backend/couponFinder/coupon/__pycache__/__init__.cpython-38.pyc
Code/Backend/couponFinder/coupon/__pycache__/admin.cpython-38.pyc
Code/Backend/couponFinder/coupon/__pycache__/models.cpython-38.pyc
Code/Backend/couponFinder/coupon/migrations/__pycache__/__init__.cpython-38.pyc
Code/Backend/couponFinder/couponFinder/__pycache__/settings.cpython-38.pyc
Code/Backend/couponFinder/db.sqlite3
Code/Backend/couponFinder/couponFinder/__pycache__/urls.cpython-38.pyc
Code/Backend/couponFinder/couponFinder/__pycache__/settings.cpython-38.pyc
Code/Backend/couponFinder/couponFinder/__pycache__/settings.cpython-38.pyc
Code/Backend/couponFinder/couponFinder/__pycache__/settings.cpython-38.pyc
Code/Backend/couponFinder/coupon/migrations/__pycache__/0001_initial.cpython-38.pyc
Code/Backend/couponFinder/couponFinder/__pycache__/settings.cpython-38.pyc
