Group05\.vscode
Code/Practice/demo/demo/spiders/__pycache__/coupon_finder.cpython-38.pyc
Code/.vscode/settings.json
Code/Practice/demo_project/demo_project/__init__.py
Code/Practice/demo_project/scrapy.cfg
Code/Practice/demo_project/demo_project/spiders/__pycache__/jokes.cpython-38.pyc
Code/Practice/demo_project/demo_project/spiders/__init__.py
Code/Practice/demo_project/demo_project/middlewares.py
Code/Practice/demo_project/demo_project/pipelines.py
Code/Practice/demo_project/demo_project/__pycache__/__init__.cpython-38.pyc
Code/Practice/demo_project/demo_project/__pycache__/settings.cpython-38.pyc
Code/Practice/demo_project/demo_project/spiders/__pycache__/__init__.cpython-38.pyc
Code/Practice/demo_project/demo_project/settings.py
